//   LAYOUT  //

$max-width: 1200px;
$bp-tablet: 768px;
$bp-desktop: 1024px;
$marge: 15px;

//   TYPOS

$font-default: 'Noto Sans', sans-serif;
$font-size-base: 87.5%; //base 14


//   COLORS

$dark-brown: #27231F;
$orange:    #EF7F01;


// //OMBRAGES

// $shadow : 6px 6px 6px rgba(#000, 0.16);